body {
  background-color: black;
  color: white; /* Set text color to white */
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.box {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.input-field {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: red; /* Change button color to red */
  color: white; /* Set button text color to white */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d60000; /* Darker red on hover */
}

.placeholders p {
  margin-bottom: 5px;
}

/* Tooltip styles */
.tooltip {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.tooltip p {
  margin: 0;
}
